# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# Build directories
Solution/.vs/*
Solution/Debug/*
Solution/Release/*
Solution/Crosshair/Debug/*
Solution/Crosshair/Release/*

# imgui configuration
imgui.ini
*.vcxproj
Solution/Crosshair/x64/Debug/Crosshair.log
Solution/Crosshair/x64/Debug/Crosshair.tlog/CL.command.1.tlog
Solution/Crosshair/x64/Debug/Crosshair.tlog/CL.read.1.tlog
Solution/Crosshair/x64/Debug/Crosshair.tlog/CL.write.1.tlog
Solution/Crosshair/x64/Debug/Crosshair.tlog/Crosshair.lastbuildstate
Solution/Crosshair/x64/Debug/Crosshair.tlog/unsuccessfulbuild
Solution/Crosshair/x64/Debug/vc142.idb
Solution/Crosshair/x64/Debug/vc142.pdb
Solution/Crosshair/Crosshair.vcxproj
Solution/Crosshair/Crosshair.vcxproj
